<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div id="fix-navbar-top-spacing" style="height: 20px;">&nbsp;</div><div class="container">
<div class="panel-body text-center"><div class="center-block">
<h4>{{ title }}</h4>


<form method=post action="AddStudent" class="form-inline">
    <div class="form-group"><div class="input-group input-group-sm">
    {{ form.name.label(for='name', class="input-group-addon") }}
    {{ form.name(type="text",class="form-control", id="name", placeholder="Name") }}
</div></div><br>
    <row>
    <div class="input-group input-group-sm">
    {{ form.dob.label(for="dob", class="input-group-addon") }}
    {{ form.dob(type="date", class="form-control", id="dob", placeholder="DoB") }}
    </div>
    <div class="input-group input-group-sm">
        <label class="input-group-addon">Gender : </label>
        <span class="form-control">
        {% for item in form.gender %}
            {{ item(type="radio") }}&nbsp
            <label for="gender" class="control-label">{{ item.label }}</label>&nbsp
        {% endfor %}
        </span>
    </div></row>
    <div class="input-group input-group-sm">
    {{ form.address.label(for="address", class="input-group-addon") }}
    {{ form.address(class="form-control", type="textarea",  placeholder="Address", id="address", rows="3", cols="57") }}
    </div><br>

    <div class="input-group input-group-sm">
        {{ form.goal.label(for="goal", class="input-group-addon") }}
        {{ form.goal(class="form-control", type="select", id="goal") }}
    </div>
    <div class="input-group input-group-sm">
        {{ form.target.label(for="target", class="input-group-addon") }}
        {{ form.target(class="form-control", type="select", id="target") }}
    </div><br>
    <div class="input-group input-group-sm">
    {{ form.dateEnroll.label(for="dateEnroll", class="input-group-addon") }}
    {{ form.dateEnroll(type="date", class="form-control", id="dateEnroll") }}
    </div>
    <div class="input-group input-group-sm">
    {{ form.dateLastContact.label(for="dateLastContact", class="input-group-addon") }}
    {{ form.dateLastContact(type="date", class="form-control", id="dateLastContact") }}
    </div>
    <div class="input-group input-group-sm">
        <label class="input-group-addon">Days Available : </label>
        <span class="form-control">
        {% for item in form.days %}
            {{ item(type="checkbox") }}&nbsp
            <label for="days" class="control-label">{{ item.label }}</label>&nbsp
        {% endfor %}
        </span>
    </div>

    <div class="input-group input-group-sm">
    {{ form.time.label(for="time", class="input-group-addon") }}
    {{ form.time(type="time", class="form-control", id="time") }}
    </div></div>

<div class="input-group input-group-sm">
{{ form.lapsedWhy.label(for="lapsedWhy", class="input-group-addon") }}
{{ form.notes(class="form-control", type="textarea",  placeholder="Why did they leave?", id="lapsedWhy", rows="3", cols="57") }}
</div><br>
<div class="input-group input-group-sm">
{{ form.notes.label(for="notes", class="input-group-addon") }}
{{ form.notes(class="form-control", type="textarea",  placeholder="notes", id="notes", rows="3", cols="57") }}
</div><br>
    <br>

    <input type=submit value="Register" class="btn btn-default" />

</form>


<p class="hidden">
gender = BooleanField('Male?')
goal = SelectField(' :', validators=[DataRequired()])  # Qualification etc
target =  SelectField(' :', validators=[DataRequired()]) # Skill needing improvment
occupation =  SelectField(' :', validators=[DataRequired()]) # Current occupation
status = SelectField(' :', validators=[DataRequired()]) # Active Inactive
days = SelectMultipleField('Days available :', validators=[DataRequired()])  # 7 digit binary?
time = IntegerField(' :', validators=[DataRequired()]) # Avail after %%:%% on weekday
dateEnroll = DateField('Enroll date :', validators=[DataRequired()])
dateLastContact = DateField('Last contact :', validators=[DataRequired()])
lapsedWhy = SelectField('Reason for leaving :', validators=[DataRequired()])
notes = TextAreaField('Notes :', validators=[DataRequired()])
</p>


</div></div></div>
{% endblock %}
</body>
