<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<form action="" method="post" name="student/view"></form>
<form method=post action="ViewStudent">
<div class="container-fluid" style="max-width: 1400px; padding:60px;">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ title }}</div>

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="input-group input-group-sm">
                    {{ form.name.label(for='name', class="input-group-addon") }}
                    {{ form.name(type="text",class="form-control", id="name", placeholder="Name") }}
                    </div>
            </div></div></div></div>

{% endblock %}
