<!-- extend base layout -->
{% extends "home/base.html" %}
{% block content %}
{% include 'home/flash.html' %}

<form action="" method="post" name="auth/view"></form>
<div class="container">
    <div class="row">
            <h1>{{ title }}</h1>
    </div> <!-- end row -->
          {% if user.about_me %}
          <div class="row">
                  <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{user.username}}'s Profile<img class="pull-right" src="/static/img/avatar/default.png" style=" max-height: 25pt;"></h4></div>
                    <div class="panel-body">{{ user.about_me }}
                        {% endif %}

                        {% if user.last_seen %}
                        <i><hr>Last seen : {{ moment(user.last_seen).format('MMMM Do YYYY, @h:mm a') }}</i>
                        {% endif %}
                    </div>
                    </div>
                  </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        {% if user.id == g.user.id %}
                        <h5><p class="text-center">{{ moment(todays_date).format('MMMM Do, YYYY ') }}</p></h5>
                        <a class="btn btn-lg btn-success btn-block" type="link" href="{{ url_for('auth.edit') }}">Edit</a>
                        {% endif %}
                    </div>
              </div> <!-- end row -->
    {% for post in posts %}
          {% include 'auth/post.html' %}
    {% endfor %}
{% endblock %}
