<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<form action="" method="post" name="profile/view"></form>

<div class="container">
  <table>
    <tr valign="top">
      <td>
        <h1>User: {{user.username}}</h1>
          {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
          {% if user.last_seen %}<p><i>Last seen on: {{ momentjs(user.last_seen).calendar() }}</i></p>{% endif %}
          {% if user.id == g.user.id %}<p><a href="{{ url_for('editProfile') }}">Edit</a></p>{% endif %}
      </td>
    </table>
    {% for post in posts %}
          {% include 'profile/post.html' %}
    {% endfor %}
{% endblock %}
