<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container-fluid" style="max-width: 1400px; padding:30px;">

<form method="POST" action="{{ url_for('stud.add') }}" method=post  enctype="multipart/form-data">
{{form.hidden_tag()}}
<div class="input-group input-group-sm">
    {{ form.name.label(for='name', class="input-group-addon") }}
    {{ form.name(type="text",class="form-control", id="name", placeholder="Name", size=20) }}
</div>
<div class="input-group input-group-sm">
    {{ form.dob.label(for="dob", class="input-group-addon") }}
    {{ form.dob(type="date", class="form-control", id="dob", placeholder="DoB") }}
</div>
<div class="input-group input-group-sm">
    <label class="input-group-addon">Gender : </label>
    <span class="form-control">
    {% for gender in form.gender %}
        {{ gender(type="radio") }}
        {{ gender.label }}
    {% endfor %}
    </span>
</div>
<div class="input-group input-group-sm" style="height: 69pt;">
    {{ form.address.label(for="address", class="input-group-addon") }}
    {{ form.address(class="form-control", type="textarea",  placeholder="Address", id="address", style="height: 100%;") }}
</div>
<input type="submit" value="Go">
<button class="btn btn-md btn-primary btn-block" type="submit" value="Register">Register</button>

</form>
</div>

{% endblock %}
