<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
<br><br><br><br>
    <body>

       <table border = 1>
          <thead>
             <td>Name</td>
             <td>Address</td>
             <td>More</td>
             <td>More</td>
          </thead>

          {% for row in rows %}
              <tr>
              {% for d in row %}
                  <td>{{ d }}</td>
              {% endfor %}
              </tr>
          {% endfor %}
       </table>

       <a href = "/">Go back to home page</a>

    </body>

</div>
{% endblock %}
