{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>CaSE 2</h1>
                    <h3>Language School</h3>
                    <hr class="intro-divider">
                    <p>Come to CaSE or CaSE2 today for your FREE interview and placement test.
                        <br>New term starting soon. Learn to speak English like a native-
                        speaker with CaSE!</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
