<!-- extend base layout -->
{% extends "home/base.html" %}
{% block content %}
{% include 'home/flash.html' %}

<div id="fix-for-navbar-fixed-top-spacing" style="height: 20px;">&nbsp;</div><div class="container">
<div class="container">
            <div class="panel-body text-center">
    <div class="center-block"><h3>Welcome to ...</h3>    </div>
        <img src="static/img/case.png" alt="CaSE Language School" style="width:188px;height:63px;">
        {% if g.user.is_authenticated %}
            <h4>... and nice to see you again {{ user.username }}! </h4>
            {% for post in posts %}
                <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
            {% endfor %}
        {% endif %}
            <p>Come to CaSE or CaSE2 today for your FREE interview and placement test.
                <br>New term starting soon. Learn to speak English like a native-
                speaker with CaSE!</p>

</div></div>
{% endblock %}
