{% extends "home/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="center-block"><div class="panel-body text-center">
    <!-- Full Width Image Header -->
        <header class="header-image">
            <div class="headline">

                <div class="container">
                    <img src="/static/img/case-trans-330.png" style=" max-width: 240pt;">

                    <div class="featurette" id="about">

                        <h2 class="featurette-heading">Language
                            <span class="text-muted">School</span>

                        </h2><br>
                        <p class="lead">{% if current_user.is_authenticated %}
                          Hello {{ current_user.username }}.
                        {% endif %}Come to CaSE or CaSE2 today for your FREE interview and placement test.
                            <br>New term starting soon. Learn to speak English like a native-
                            speaker with CaSE!</p>
                    </div>

                </div>
            </div>
        </header>
    </div>
</div>

{% endblock %}
