<!-- extend base layout -->
{% extends "home/base.html" %}
{% block content %}
{% include 'home/flash.html' %}

<script src="/static/js/mindmup-editabletable.js"></script>
<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading text-center table-bordered"><h1>{{ title }}<br/> <small>{{ title }}</small></h1></div>
  	<hr/>
  		<div class="alert alert-error hide">That would cost too much</div>
      <div class="panel-body">
          <div class = "table-responsive">

            <table id="mainTable" class="table table-striped">
                <thead>
                    {% for key in keys %}<th>{{ key }}</th>{% endfor%}
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>{% for item in row %}<td>{{ item }}</td>{% endfor %}</tr>
                    {% endfor %}
                </tbody>
      			<tfoot>
                    <tr><th><strong>TOTAL</strong></th><th></th><th></th><th></th></tr>
                </tfoot>
            </table>
          </div>
</div>
<a href = "/">Go back to home page</a>
</div>
</div>
</body>
{% endblock %}
