<!-- extend base layout -->
{% extends "home/base.html" %}

{% block content %}
<div class="container">
<br><br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading text-center"><h3>{{ title }}</h3></div>
      <div class="panel-body">

      <table class="table">
          <thead>
              {% for key in keys %}
             <td>{{ key }}</td>
             {% endfor%}
          </thead>

          {% for row in rows %}
              <tr>
              {% for d in row %}
                  <td>{{ d }}</td>
              {% endfor %}
              </tr>
          {% endfor %}
      </table>
    </div></div>

       <a href = "/">Go back to home page</a>

    </body>

</div>
{% endblock %}
