{%  block head %}
{{ super }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico')}}" type="image/x-icon">
{% endblock %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

      <!-- Custom CSS overrides -->
      <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    </head>
<body>
<nav class="navbar navbar-default">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-triangle-bottom"></span>

      </button>
      <a class="navbar-brand" href="#">CaSE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"> <span class="sr-only">(current)</span></a></li>
        {% if g.user.is_authenticated %}
        <li></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('addStudent') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"> Add</a></li>
            <li><a href="{{ url_for('editStudent') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</a></li>
            <li><a href="{{ url_for('listStudents') }}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"> List</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('deleteStudent') }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Delete</a></li>
          </ul>
        </li>
              {% endif %}
        <li class="dropdown">

             {% if g.user.is_authenticated %}
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ g.user.username }}<span class="caret"></span></a>
             <ul class="dropdown-menu">
            <li><a href="{{ url_for('user', username=g.user.username) }}"><span class="glyphicon glyphicon-user" aria-hidden="true"> Profile</a></li>
            <li><a href="{{ url_for('edit') }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> Customise</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout<b></b></a></li>
          </ul>
            {% endif %}
            {% if not g.user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            </li>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <form class="navbar-search pull-left"><input type="text" class="form-control" placeholder="Student Search"></form>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    {% with message = get_flashed_messages()  %}
        {% if messages %}<ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
