<html>
  <head>
    {% if title %}
    <title>{{ title }} - CaSE Database</title>
    {% else %}
    <title>Welcome to CaSE Online Database BETA Version</title>
    {% endif %}
  </head>
  <body>
    <div>CaSE: <a href="/index">Home</a> : <a href="/login">Login</a></div>
    <hr>
    {% with message = get_flashed_messages()  %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
