<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div id="fix-for-navbar-fixed-top-spacing" style="height: 20px;">&nbsp;</div><div class="container">


 <div style="display: inline-block" class="container  centered">
  <form action="" method=post class="form-horizontal">
     <h4>Please login : </h4>
    <div class="control-group">
        <div class="controls">
          <label class="control-label">Username &nbsp: </label>
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <label class="control-label">Password&nbsp&nbsp  :  </label>
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
          <label class="checkbox" for="remember_me">
            <button type="submit" class="btn btn-success">Signin</button>&nbsp&nbsp&nbsp;&emsp;{{ form.remember_me }} Remember Me</div>
          </label>
        </div>
    </div>
    <br>
    <div class="control-group">
        <div class="controls">

        </div>
    </div>
  </form>
      </div>
{% endblock %}
